/*GLOBAL*/
:root {
  --primary-background: rgb(246, 194, 255);
}

.site {
  /* color of site */
  /* orange */
  /* background-color: rgb(255, 114, 0); */
  /* light green */
  background-color: rgb(255, 224, 128);

  /* color of text */
  /* deep blue */
  /* color: rgb(16, 0, 36); */
  /* pink */
  color: rgb(255, 0, 114);
}

#background {
  position: fixed;
  top: 0;
  left: 75%;
  width: 25%;
  height: 100%;
  /* deep blue */
  background-color: white;

}

.top-border {
  width: 875px;
  height: 50px;
  /* uncomment to make green */
  /* background: rgb(172, 255, 0); */
  background-color: rgb(16, 0, 36);
  margin: 35px;
}

.name {
  font-family: 'Archivo Black', sans-serif;
  text-align: left;
  font-size: 144px;
  margin: 25px;
}

.sub {
  color: rgb(16, 0, 36);
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: left;
  font-size: 36px;
  margin: 25px;
}
