/*GLOBAL*/
:root {
  text-rendering: optimizeSpeed;
  /* theme */
  --pale-yellow: rgb(255, 224, 128);
  --dark-blue: rgb(16, 0, 36);
  --hot-pink: rgb(255, 0, 114);
  /* fontwork */
  --font-title: 'Limelight', cursive;
  --font-menu: 'Alegreya Sans SC', sans-serif;
  --font-text: 'Nunito', sans-serif;
}

@media (orientation: landscape) {
  /* CLASS CONSTANTS */
  .fixed {
    position: fixed;
  } .flex {
    display: flex;
  } .chain-horizontal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  } .wide {
    width: 100%;
  } .button {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-left-color: var(--hot-pink);
    border-right-color: var(--hot-pink);
    text-align: center;
  }
  /* SITE ELEMENTS */
  #menu {
    top: 0px;
    left: 0px;
    height: 42px;
    background-color: var(--dark-blue);
    color: var(--hot-pink);
    font-family: var(--font-menu);
    font-size: 24px;
    justify-content: center;
  }

  #menu-items {
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-left-color: var(--hot-pink);
    border-right-color: var(--hot-pink);
  }


}

/* ANIMATIONS */
/* The animation code */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes expand-top-to-bottom {
  from {
    height: 0;
  }

  to {
    height: inherit;
  }
}
